body{
    background-color: black;
    
    
}
body h2{
    color: white;
    padding-left: 35rem;
}

.main{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15rem;
}
.result{
    color: white;
 
}
input{
    border-radius: 0.5rem;
    height: 30px;
    border-style: none;
}

button{
    border-radius: 0.5rem;
    height: 30px;
    border-style: none;
    background-color: blueviolet; 
    color: white;
}
